
.show-wrapper {
  display: flex;
  flex-direction: column;
  height: 90vh;
  align-items: stretch;
  margin-top: 75px;
  .search-infos {
    height: 30%;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    p {
      margin: 0;
      border-bottom: 3px solid rgba(200, 29, 37,0.6);
      box-shadow: inset 0 -5px 0 rgba(248, 70, 76, 0.38);
      transition: background .2s ease;
      height: 20px;
      display: inline-block;
    }
  }

  .show-container {
    display: flex;
    flex-grow: 10;
    .results-container {
      display: flex;
      padding: 10px;
      flex-grow: 1;
      flex-flow: row wrap;
      justify-content: space-between;
      overflow-x: hidden;
      overflow-y: auto;
      &::-webkit-scrollbar {
        display: none;
      }
    }
    .waiting-container {
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      align-items: stretch;
      justify-content: center;
      .waiting {
      }
    }
    .map-container {
      padding: 10px;
      width: 400px;
      div {
        border-radius: 4px;
      }
    }
  }
}

@media (max-width: 600px) {
  .map-container{
    display: none;
  }
}
