<div class="modal-body">
  <div class="header-background" style="<%= @result.picture %>">
    <div class="price"><p><%= @result.price %>€</p></div>
  </div>
  <div class="description"><%= @result.description %></div>
</div>
<div class="modal-footer">
  <%= link_to "Contacter l'annonceur", @result.url, class: "btn btn-primary btn-block", target: "_blank" %>
  <button type="button" class="btn btn-default btn-block" data-dismiss="modal">Fermer</button>
</div>
