<div class="card" style="<%= result.picture %>">
  <div class="card-description">
    <p><%= result.price %>€</p>
  </div>
  <div class="result-badge result-badge-red"><%= Random.rand(4..12) %>%</div>
  <%= link_to "", local_assigns[:path] ? path : result_path(result), class: "card-link", data: { toggle: "modal", target: "#result-modal" } %>
</div>
