.header-background {
  height: 400px;
  position: relative;
  border: 1px solid #000;
  text-shadow: 0 1px 3px rgba(0,0,0,.6);
}

.price {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  font-size: 24px;
  font-family: 'Montserrat'
}

.type {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
}
