.search-card {
  height: 300px;
  width: 20%;
  display: flex;
  margin: 25px;
  flex-direction: column;
  text-shadow: 0 1px 3px rgba(0,0,0,.15);
  box-shadow: 0 1px 3px rgba(0,0,0,.15);
  position: relative;
  margin-bottom: 10px;
  border-radius: 4px;
  &-city {
    height: 15%;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  &-map {
    height: 60%;
    width: 100%;
    background-size: cover;
    background-position: center;
  }
  &-content {
    height: 25%;
    display: flex;
    &-desc {
      font-size: 12px;
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      p {
        margin: 0;
      }
      &-price {
        font-size: 14px;
        font-weight: bold;
        color: rgb(190, 30, 30)
      }
    }
    &-icons {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 50%;
      font-size: 20px
    }
  }
  &-link {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index:2;
    background: black;
    opacity: 0;
    border-radius: 4px;
    &:hover{
      opacity: 0.1;
    }
  }
}

@media (max-width: 800px) {
  .card{
    width: 100%;
  }
}
